{% extends "main/base.html" %}
{% load static %}

{% block title %}Reverence Interlude - Registration{% endblock title %}


{% block content %}
    <div class="login-containter d-flex justify-content-center">
        <div class="login d-flex flex-column">
            <h3 class="text-center mb-3">Registration</h3>
            <form class="loginform" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group mb-3 d-flex flex-column">
                        {{ field.label_tag }}
                        {{ field}}
                        {% if field.errors %}
                            <div class="error">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="login-btns d-flex justify-content-between align-item-center">
                    <button class="default-btn mt-3">Register</button>
                    <a href="{% url "users:user_login" %}" class="create-account-btn">Have account?</a>
                </div>
            </form>
        </div>
    </div>


{% endblock content %}